:fullscreen canvas {
position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0;
width: auto;
min-height: 100%;
margin: auto;
background-color: white;
}
:-webkit-full-screen canvas {
position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0;
width: auto;
min-height: 100%;
margin: auto;
background-color: white;
}
:-moz-full-screen canvas {
position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0;
width: auto;
min-height: 100%;
margin: auto;
background-color: white;
}
:-o-full-screen canvas {
position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0;
width: auto;
min-height: 100%;
margin: auto;
background-color: white;
}
:-ms-full-screen canvas {
position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0;
width: auto;
min-height: 100%;
margin: auto;
background-color: white;
}
